/* Tùy chỉnh thanh tabar */
.navbar {
    background-color: rgba(10, 67, 127, 1) !important;
    padding: 15px 0; /* Khoảng cách dưới và trên */
    box-shadow: none; /* Loại bỏ đổ bóng */
}

/* Thêm màu nền thanh tabar khi hover */
.navbar a:hover {
    background-color: #191970; /* Màu và độ dày của nền */
    text-decoration: none;
    
    
}

.logoimg{
    width: 130PX;
    height: 50PX;
    margin: 0 0 0 0;
    margin-top: 10PX;
}

/* Định dạng cho dropdown */
.product-button .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Đổi màu chữ product */
.navbar a {
    color: #fff; /* Màu đen (hoặc mã màu khác nếu bạn muốn) */
    margin-right: 20px; /* Khoảng cách giữa các tab */
}

/* Định dạng cho thanh tìm kiếm */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Khoảng cách giữa ô tìm kiếm và nút tìm kiếm */
}

.search-container button:hover {
    background-color: #2980b9;
}

.form-controls {
    
    border: none; /* Loại bỏ đường viền */
    
    background-color: rgb(244, 243, 243); 
    color: #000; /* Màu chữ (màu đen trong ví dụ này) */
    font-size: 16px; /* Kích thước chữ */
    width: 540px; /* Kích thước ô tìm kiếm */
    margin-right: 80px; /* Khoảng cách từ ô tìm kiếm đến cạnh phải của navbar */
   
}

.search-icon {
    position: absolute;
    right: 460px; /* Điều chỉnh khoảng cách từ biểu tượng đến phía bên phải */
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5); /* Màu mờ */
    cursor: pointer;
    transition: color 0.3s ease; /* Hiệu ứng mờ */
}

.search-icon:hover {
    color: rgba(0, 0, 0, 0.8); /* Màu khi hover */
}

/* Định dạng cho dropdown button */
.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold; /* In đậm chữ */
    margin-left: 30px;
    
}

/* Định dạng khi hover và focus vào dropdown button */
.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: transparent;
    border: none;
    color: #e5e5e5;
}

/* Định dạng cho dropdown menu */
.dropdown-menu {
    background-color: rgb(9, 85, 165);
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 150px; /* Điều chỉnh độ rộng của dropdown menu */
    margin-left: 20px;
}

/* Định dạng cho các tùy chọn trong dropdown menu */
.dropdown-item {
    color: #fff;
padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s;
}

/* Định dạng khi hover vào các tùy chọn trong dropdown menu */
.dropdown-item:hover {
    background-color: #191970;
    color: #fff;
    text-decoration: none;
}
/*tabar sau khi login */
.fa-circle-user{
 font-size: 28px;
}

.dropdown a:hover{
    opacity: 0.5;
    text-decoration: none;
    /* background-color: rgba(10, 67, 127, 1) ; */
    background-color: transparent;
}

.fa-cart-shopping{
    font-size: 28px;
    margin-left: 10px;
    color: white;
}

.fa-cart-shopping:hover{
    opacity: 0.5;
    text-decoration: none;
    /* background-color: rgba(10, 67, 127, 1) ; */
    background-color: transparent !important;
}


.bg-image {
    padding:5% 10% 3% 15%;
}

.content-center {
    display: flex;
}

.container-center .rate-product, .colour-product, .size-button, .size-product, .upper, .lower {
    display: flex;
}

.sub-image {
    display: grid;
    justify-content: space-between;
    padding-right: 5px;
}

.sub-image img {
    width: 100px;
}

.sub-image .sub-1, .sub-2, .sub-3, .sub-4 {
    padding: 10px;
    background-color: #F5F5F5;
}

.sub-image .sub-1, .sub-2, .sub-3, .sub-4 {
    margin: 4px;
}

.main-image img {
    padding: 35px 25px 35px 25px;
    width: 500px;
    cursor: zoom-in;
}

.center-image {
    background-color: #F5F5F5;
}

div .rate-product {
    display: flex;
}

.detail-product {
    padding-left: 70px;
}

.resize-colour {
    padding-right: 60px;
}

#resize-p {
    padding-right: 60px;
}

.colour-product {
    color: #000;

/* Heading/20PX Regular */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
letter-spacing: 0.6px;
    border-top: 1px solid;
}

.list-size {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.list-size li{
    
}

.resize-quantity {
    padding: 10px 325px 25px 0px;
}

.quantity-product {
    padding-top: 7px;
    height: 40px;
    min-width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);;
}

.quantity-product span {
    width: 50px;
    text-align: center;
    
    font-weight: 600;
    cursor: pointer;
}

.quantity-product span .num {
    
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

/* .size-product #size-detail {
    cursor: pointer;
    margin-right: 5px;
    display: flex;
width: 32px;
height: 32px;
padding: 6px 4px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.50);
padding-right: 5px;
} */

.star {
    font-size: 25px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
}


.star.active {
    color: #ffcc00;
}

.radio {
    /* display: inline-flex;
    overflow: hidden; */
    
}

.radio label {
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    cursor: pointer;
    transition: background 0.1s;flex-direction: row;
width: 32px;
height: 32px;
padding: 6px 7px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.50);
}

.radio input[type="radio"] {
    display: none;
    border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.50);
}

.radio input[type="radio"]:checked + label.size-label{
    background-color: #4284f4;
    color: white;
    border: none;
}

.button-verify #add-cart, #buy-now{
    
    border: none;
    color: white;
    border-radius: 3px;
    color: var(--BG, #FFF);

/* Title/16PX Medium */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.button-verify #add-cart{
    background-color: #4285F4;
    width: 200px;
    height: 45px;
}

.button-verify #buy-now{
    background-color: #DB4444;
    width: 200px;
    height: 45px;
}
.middle-line {
    padding: 0px 0px 40px 230px;
}

.bg-line {
    display: flex;
}

.middle-line .left-line {
    border-radius: 3px 3px 3px 3px;
    width: 15px;
    height: 30px;
    background-color: #4285F4;
    border: none;
}
.middle-line .right-line {
    font-weight: bold;
    color: #db4443;
    padding-left: 10px;
    margin: 0;
}

.bg-related {
    padding: 0px 0px 80px 100px;
}

.content-related .rate-related {
    display: flex;
}

.content-related #price-related {
    color: #db4443;
}

.img-related {
    background-color: #F5F5F5;
    padding: 75px;
}

.content-related #text-related {
    padding-top: 15px;
    font-weight: bold;
}

.content-related {
    justify-content: center;
}

/* footer */
.footer{
    position: relative;
    bottom: 0;
    background:#090909eb ;
    color: white;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
}
.address img{
    width: 20px;
    height: 20px;
}
.text-center img{
    width: 50px;
    height: 50px;
}